*{
    box-sizing: border-box;
}
.containerMain{
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    align-items: center;
}
.containerStart{
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.containerQuiz{
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.containerScore{
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.containerLast{
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.time{
    float: right;
}
.highScore{
    float: left;
}

.btnStart{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 150px;
    height: 30px;
}
#output {
    border: 1px black solid;
    padding: 5px 30px;
}
.btn1{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: 20px;
}


#showOutput {
    width: 100px;
    height: 50px;
    border: 1px black solid;
    padding:5px 20px;
   
}
.hide{
    display: none;
}
.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}
.btn{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    height: 50px;
}